body {
  font-family: Arial, sans-serif;
  background-color: #79808c;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  text-align: center; 
}

.heading {
  margin-bottom: 20px;
  color: #333;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4c78af;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #78b27b;
}